<component name="libraryTable">
  <library name="logback-1.0">
    <CLASSES>
      <root url="jar://D:/Developer/Java/lib/logback-1.0.13/logback-classic-1.0.13.jar!/" />
      <root url="jar://D:/Developer/Java/lib/logback-1.0.13/logback-core-1.0.13.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://D:/Developer/Java/lib/logback-1.0.13" />
      <root url="file://D:/Developer/Java/lib/logback-1.0.13/logback-classic/src/main/java" />
      <root url="file://D:/Developer/Java/lib/logback-1.0.13/logback-core/src/main/java" />
    </SOURCES>
    <jarDirectory url="file://D:/Developer/Java/lib/logback-1.0.13" recursive="false" type="SOURCES" />
  </library>
</component>